<div id="background" [ngStyle]="{'background-image': backgroundImage}">
    <div id="main-container" class="mat-elevation-z8">
        <div id="menu-bar">
            <div class="left">
                <span class="user-icon">
                    <img src="https://www.gravatar.com/avatar/{{identiconHash}}?d=identicon" alt="user-icon">
                </span>
                <span id="display-name" *ngIf="!changeNameDialogOpen">{{myDisplayName}}</span>
                <span id="display-name" *ngIf="changeNameDialogOpen">
                    <input autocomplete="off" autofocus matInput placeholder="New name" [(ngModel)]="newName">
                </span>
                <span>
                    <button mat-stroked-button *ngIf="changeNameDialogOpen" (click)="changeName()">Update name</button>
                </span>
                <span id="change-display-name">
                    <button mat-icon-button aria-label="Settings button" matTooltip="Change Name"
                        matTooltipPosition="above" (click)="changeNameDialogOpen = true" *ngIf="!changeNameDialogOpen">
                        <i class="fas fa-pencil"></i>
                    </button>
                    <button mat-icon-button aria-label="Settings button" matTooltip="Cancel name change"
                        matTooltipPosition="above" (click)="changeNameDialogOpen = false" *ngIf="changeNameDialogOpen">
                        <i class="fas fa-times"></i>
                    </button>
                </span>
            </div>
            <div class="right">
                <span id="payout">
                    <button mat-stroked-button (click)="rps.payoutFees()" *ngIf="account === owner">
                        Payout {{fees}} ETH
                    </button>
                </span>
                <span id="settings">
                    <button mat-icon-button aria-label="Sync button" matTooltip="Update" matTooltipPosition="above"
                        (click)="ngOnInit()" *ngIf="!updating">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                    <button mat-icon-button aria-label="Sync button" matTooltip="Update" matTooltipPosition="above"
                        disabled *ngIf="updating">
                        <i class="fas fa-sync-alt fa-spin"></i>
                    </button>
                </span>
            </div>
        </div>
        <div id="game-manager">
            <div id="new-game">
                <h2>New Game</h2>
                <mat-divider></mat-divider>

                <div id="new-game-form">
                    <mat-form-field appearance="outline">
                        <mat-label>Bet (ETH)</mat-label>
                        <input autocomplete="off" type="number" matInput placeholder="1" [(ngModel)]="newGame.bet"
                            step="0.1">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Oponent Address</mat-label>
                        <input autocomplete="off" type="text" matInput placeholder="0x0123456789ABCDEF..."
                            [(ngModel)]="newGame.challengedAddress">
                        <mat-hint *ngIf="newGame.challengedAddress === account">You cannot challenge yourself.
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Your Move</mat-label>
                        <mat-select [(ngModel)]="newGame.yourMove">
                            <mat-option [value]="'r'">Rock</mat-option>
                            <mat-option [value]="'p'">Paper</mat-option>
                            <mat-option [value]="'s'">Scissors</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" *ngIf="showSaltNewGame">
                        <mat-label>Salt</mat-label>
                        <input autocomplete="off" type="text" matInput placeholder="Random value"
                            [(ngModel)]="newGame.salt">
                    </mat-form-field>

                    <div id="show-salt-container">
                        <button class="show-salt" *ngIf="!showSaltNewGame"
                            (click)="showSaltNewGame = !showSaltNewGame">Show salt</button>
                        <button class="show-salt" *ngIf="showSaltNewGame"
                            (click)="showSaltNewGame = !showSaltNewGame">Hide
                            salt</button>
                    </div>
                </div>

                <button mat-stroked-button color="primary" (click)="createGame()"
                    [disabled]="(newGame.bet * 1000000000000000) < 100 || newGame.challengedAddress.length !== 42 || newGame.challengedAddress === account ||updating">Create
                    Game</button>
            </div>
            <div id="games">
                <h2>Active Games</h2>
                <mat-divider></mat-divider>
                <div class="games-flex">
                    <div class="game mat-elevation-z2" *ngFor="let game of games">
                        <div class="head">
                            <div class="opponents">
                                <span class="user-icon challenger">
                                    <img src="https://www.gravatar.com/avatar/{{game.challengerAddressHash}}?d=identicon"
                                        alt="user-icon">
                                </span>
                                <span><b>{{game.challengerName}}</b></span>
                                <span class="vs">vs.</span>
                                <span><b>{{game.challengedName}}</b></span>
                                <span class="user-icon challenged">
                                    <img src="https://www.gravatar.com/avatar/{{game.challengedAddressHash}}?d=identicon"
                                        alt="user-icon">
                                </span>
                            </div>
                            <div class="bet">
                                <i class="fab fa-ethereum"></i>&nbsp;<b>{{game.bet}}</b>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <br>

                        <div class="actions">
                            <!-- Challenge not accepted -->
                            <div *ngIf="!game.accepted">
                                <h3>Challenge not accepted</h3>
                                <div *ngIf="game.challenger === account">
                                    <button mat-stroked-button color="warn" (click)="withdraw(game)">
                                        Withdraw
                                    </button>
                                </div>
                                <div *ngIf="game.challenged === account">
                                    <button mat-stroked-button (click)="acceptChallenge(game)">
                                        Accept
                                    </button>
                                </div>
                            </div>

                            <!-- Challenge accepted -->
                            <div *ngIf="game.accepted">
                                <!-- Game accepted but challenged did not move yet -->
                                <div *ngIf="game.challengedMove === ''">
                                    <div *ngIf="game.challenger === account">
                                        <h3>Challenge accepted</h3>
                                        <div *ngIf="rps.currentBlockNumber - 20 < game.blockNumLastAction">
                                            <p><b>{{game.challengedName}}</b> has 20 blocks to make a move.
                                                ({{(game.blockNumLastAction + 20) - rps.currentBlockNumber}} <span
                                                    *ngIf="(game.blockNumLastAction + 20) - rps.currentBlockNumber === 1">block</span><span
                                                    *ngIf="(game.blockNumLastAction + 20) - rps.currentBlockNumber > 1">blocks</span>
                                                remaining)
                                            </p>
                                        </div>
                                        <div *ngIf="rps.currentBlockNumber - 20 >= game.blockNumLastAction">
                                            <p><b>{{game.challengedName}}</b> defaults.</p>
                                            <button mat-stroked-button color="warn"
                                                (click)="challengedDefaults(game)">Claim Winnings</button>
                                        </div>
                                    </div>
                                    <div *ngIf="game.challenged === account">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Your Move</mat-label>
                                            <mat-select [(ngModel)]="game.yourMove">
                                                <mat-option [value]="'r'">Rock</mat-option>
                                                <mat-option [value]="'p'">Paper</mat-option>
                                                <mat-option [value]="'s'">Scissors</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <br>

                                        <button mat-stroked-button (click)="makeCounterMove(game)">
                                            Make move
                                        </button>
                                    </div>
                                </div>
                                <!-- Challenged moved but not challenger -->
                                <div *ngIf="game.challengedMove !== ''">
                                    <div *ngIf="game.challenger === account">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Your Move</mat-label>
                                            <mat-select [(ngModel)]="game.yourMove">
                                                <mat-option [value]="'r'">Rock</mat-option>
                                                <mat-option [value]="'p'">Paper</mat-option>
                                                <mat-option [value]="'s'">Scissors</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <br *ngIf="showSaltReveal">

                                        <mat-form-field appearance="outline" *ngIf="showSaltReveal">
                                            <mat-label>Salt</mat-label>
                                            <input autocomplete="off" type="text" matInput placeholder="Random value"
                                                [(ngModel)]="game.salt">
                                        </mat-form-field>

                                        <br>

                                        <button class="show-salt" *ngIf="!showSaltReveal"
                                            (click)="showSaltReveal = !showSaltReveal">Show salt</button>
                                        <button class="show-salt" *ngIf="showSaltReveal"
                                            (click)="showSaltReveal = !showSaltReveal">Hide
                                            salt</button>

                                        <br>

                                        <button mat-stroked-button (click)="resolveChallenge(game)">
                                            Reveal
                                        </button>
                                    </div>
                                    <div *ngIf="game.challenged === account">
                                        <h3>You made your move</h3>
                                        <div *ngIf="rps.currentBlockNumber - 20 < game.blockNumLastAction">
                                            <p><b>{{game.challengerName}}</b> has 20 blocks to make a move.
                                                ({{(game.blockNumLastAction + 20) - rps.currentBlockNumber}} <span
                                                    *ngIf="(game.blockNumLastAction + 20) - rps.currentBlockNumber === 1">block</span><span
                                                    *ngIf="(game.blockNumLastAction + 20) - rps.currentBlockNumber > 1">blocks</span>
                                                remaining)
                                            </p>
                                        </div>
                                        <div *ngIf="rps.currentBlockNumber - 20 >= game.blockNumLastAction">
                                            <p><b>{{game.challengerName}}</b> defaults.</p>
                                            <button mat-stroked-button color="warn"
                                                (click)="challengerDefaults(game)">Claim Winnings</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dark-overlay" *ngIf="!playerRegistered">
        <div id="register-form" class="mat-elevation-z8">
            <h2 *ngIf="!registerInProgress">Register to play</h2>
            <mat-form-field appearance="outline" *ngIf="!registerInProgress">
                <mat-label>Player Name</mat-label>
                <input autocomplete="off" matInput placeholder="Enter your desired player name" [(ngModel)]="newName">
                <mat-hint>{{account}}</mat-hint>
            </mat-form-field>
            <button *ngIf="!registerInProgress" mat-stroked-button color="primary"
                (click)="register()">Register</button>

            <h2 *ngIf="registerInProgress" style="width: 100%; text-align: center;">Waiting for confirmation...</h2>
            <br>
            <mat-spinner *ngIf="registerInProgress" style="margin: 0 auto;"></mat-spinner>
        </div>
    </div>
</div>

<div class="dark-overlay" *ngIf="resolvedGames.length > 0">
    <div class="resolved-game mat-elevation-z8" *ngFor="let resolvedGame of resolvedGames">
        <h1
            *ngIf="resolvedGame.challenger === account && evalGame(resolvedGame.challengerMove, resolvedGame.challengedMove) === 0">
            You win!</h1>

        <h1
            *ngIf="resolvedGame.challenger === account && evalGame(resolvedGame.challengerMove, resolvedGame.challengedMove) === 1">
            You lose!</h1>

        <h1
            *ngIf="resolvedGame.challenged === account && evalGame(resolvedGame.challengerMove, resolvedGame.challengedMove) === 1">
            You win!</h1>

        <h1
            *ngIf="resolvedGame.challenged === account && evalGame(resolvedGame.challengerMove, resolvedGame.challengedMove) === 0">
            You lose!</h1>

        <h1 *ngIf="evalGame(resolvedGame.challengerMove, resolvedGame.challengedMove) === 2">It's a tie!</h1>

        <div id="moves">
            <div class="player-move mat-elevation-z4">
                <i class="far fa-hand-rock" *ngIf="resolvedGame.challengerMove === 'r'"></i>
                <i class="far fa-hand-paper" *ngIf="resolvedGame.challengerMove === 'p'"></i>
                <i class="far fa-hand-scissors" *ngIf="resolvedGame.challengerMove === 's'"></i>
                <span><b>{{resolvedGame.challengerName}}</b></span>
            </div>

            <div class="player-move mat-elevation-z4">
                <i class="far fa-hand-rock" *ngIf="resolvedGame.challengedMove === 'r'"></i>
                <i class="far fa-hand-paper" *ngIf="resolvedGame.challengedMove === 'p'"></i>
                <i class="far fa-hand-scissors" *ngIf="resolvedGame.challengedMove === 's'"></i>
                <span><b>{{resolvedGame.challengedName}}</b></span>
            </div>
        </div>

        <p>The bet was: <i class="fab fa-ethereum"></i>&nbsp;<b>{{resolvedGame.bet}}</b></p>

        <div class="dismiss-button-container">
            <button mat-stroked-button (click)="dismissResolvedGame(resolvedGame.gameId)">Dismiss</button>
            <button mat-stroked-button (click)="prefillForm(resolvedGame)"
                *ngIf="evalGame(resolvedGame.challengerMove, resolvedGame.challengedMove) === 2">Play again</button>
        </div>


    </div>
</div>
