* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 100px;
    z-index: 0;
}

.mat-icon-button {
    margin-bottom: 3px;
}

#register-form {
    width: calc(400px);
    height: calc(250px);
    display: block;
    margin: 0 auto;
    background: #ffffffb9;
    backdrop-filter: saturate(4) blur(15px);
    border-radius: 15px;
    padding: 40px;
    z-index: 1;
    margin-top: 20vh;

    .mat-form-field {
        width: 100%;
    }

    button {
        margin-top: 20px;
    }
}

#main-container {
    width: calc(100vw - 200px);
    height: calc(100vh - 200px);
    background: #ffffff80;
    backdrop-filter: saturate(4) blur(15px);
    border-radius: 15px;
    z-index: 1;
}

span.user-icon {
    width: 40px;
    height: 40px;

    img {
        max-width: 40px;
        max-height: 40px;
        border: 3px solid #383838;
        border-radius: 100px;
    }
}

#menu-bar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 70px;
    background: #ffffff13;
    border-bottom: 2px solid #0000004b;
    backdrop-filter: saturate(4) blur(15px);
    padding: 15px;
    display: flex;
    align-items: center;

    .left {
        display: flex;
        align-items: center;
        margin-right: auto;

        span#display-name {
            margin-left: 10px;
            font-size: 1.2rem;
            font-weight: bold;
        }

        span#change-display-name {
            button {
                font-size: 1.1rem;
            }
        }
    }

    .right {
        span#payout {
            margin-right: 20px;
        }

        span#settings {
            button {
                font-size: 1.3rem;
            }
        }
    }
}

#game-manager {
    display: flex;
}

#new-game {
    width: 30%;
    height: calc(100vh - 200px - 70px);
    background: #ffffff3d;
    border-bottom-left-radius: 15px;
    padding: 20px;
    border-right: 1px solid #0000004b;

    .mat-form-field {
        width: 100%;
    }

    #new-game-form {
        margin-top: 20px;
    }

    #show-salt-container {
        display: flex;
        width: 100%;
    }
}

.show-salt {
    border: none;
    background: none;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    outline: none;
    margin-left: auto;
}

#games {
    width: 70%;
    height: calc(100vh - 200px - 70px);
    background: #ffffff13;
    border-bottom-right-radius: 15px;
    padding: 20px;
    overflow: scroll;
}

.opponents {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-right: auto;
    padding-bottom: 10px;

    .vs {
        margin: 0 10px;
    }

    span.user-icon.challenger {
        margin-right: 10px;
    }

    span.user-icon.challenged {
        margin-left: 10px;
    }
}

.games-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;

    .game {
        background: #ffffff31;
        backdrop-filter: saturate(10) blur(15px);
        border-radius: 10px;
        width: 100%;
        margin-bottom: 15px;
        padding: 10px 15px 15px;

        .head {
            display: flex;

            .bet {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3rem;
                padding-bottom: 10px;
                padding-right: 2px;
            }
        }
    }
}

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000081;
    z-index: 100;
}

.resolved-game {
    width: calc(400px);
    display: block;
    margin: 0 auto;
    background: #ffffffb9;
    backdrop-filter: saturate(4) blur(15px);
    border-radius: 15px;
    padding: 40px;
    z-index: 1;
    margin-top: 20vh;

    .mat-form-field {
        width: 100%;
    }

    button {
        margin-top: 20px;
    }

    h1 {
        width: 100%;
        text-align: center;
        font-weight: bold;
        padding-bottom: 10px;
    }

    #moves {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-size: 3.2rem;

        .player-move {
            background: #ffffff31;
            backdrop-filter: saturate(10) blur(15px);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 120px;
            flex-wrap: wrap;
            padding: 10px;

            span {
                font-size: 1.2rem;
                width: 100px;
                text-align: center;
            }

            .svg-inline--fa {
                margin-right: 4px;
            }
        }
    }

    p {
        width: 100%;
        font-size: 1.3rem;
        text-align: center;
        padding-top: 20px;
    }

    .dismiss-button-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}
