@import "~@angular/material/theming";
@import "color-paletts";

// Include the common styles for Angular Material. We include this here so that
// you only have to load a single css file for Angular Material in your app. Be
// sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes
// available in palette.scss (imported above). For each palette, you can
// optionally specify a default, lighter, and darker hue. Available color
// palettes: https://www.google.com/design/spec/style/color.html
$app-primary: mat-palette($md-main);
$app-accent: mat-palette($md-warn, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($md-warn);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// @include angular-material-typography($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each
// component that you are using.
@include angular-material-theme($app-theme);

.mat-tooltip {
    font-size: 0.8rem !important;
    border-radius: 5px !important;
}
